<mat-toolbar color="primary">     
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
 </mat-toolbar>
 
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30">
    <mat-toolbar><mat-icon class="icon">account_circle</mat-icon></mat-toolbar>
  <form [formGroup] = "form" (ngSubmit) = "onSubmit(form.value,fd)" fxLayoutAlign="stretch" fxLayout="column" #fd="ngForm">
  <mat-form-field appearance="standard">
    <mat-label>URL</mat-label>
    <input type="text"  matInput placeholder="www.google.com" formControlName="URL" >
    <mat-error *ngIf="form.get('URL').touched && form.get('URL').invalid" >url is required</mat-error>
    <mat-error *ngIf="form.get('URL').value && form.get('URL').touched && form.get('URL').invalid">Invalid URL Pattern </mat-error>
    <mat-icon matSuffix>language</mat-icon>
  </mat-form-field><br>

  <mat-form-field appearance="standard">
    <mat-label>Enter Your Password</mat-label>
    <input matInput [type]="hide?'Password':'text'" placeholder="Password" formControlName="Password" required>
    <mat-icon  matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
     <mat-hint>Password</mat-hint> 
    <mat-error *ngIf=" form.get('Password').touched"> Password please!!!</mat-error>
  </mat-form-field><br>
  
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter Name" formControlName="Name" >
    
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field><br>
  
  <mat-form-field appearance="fill">
    <mat-label>Favorite city </mat-label>
    <mat-select id="country" formControlName="Country">
      <mat-option *ngFor="let cou of country" [value]="cou.countryID">
        {{cou.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
   <button class="btn" (click)="form.reset()"  mat-raised-botton color="accent">Reset</button> <br>
   <button [disabled] ="form.invalid" (click)="openDialog()"  mat-raised-button color="primary" >Save</button>  
  </form>
</mat-card>
</div> 
