<!-- <h1>Angular 10 FormData (multipart/data-form) Example</h1>
<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div> -->
  <header>
    <p>Cybage <br>
    <a href="www.cybage.com">www.cybage.com</a></p>
  </header>
  
<div class="center">
  <form [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)" >
    <label >Enter Url</label><br>
    <input name="firstname" formControlName="firstname" required><br>
    <label >Password</label><br>
    <input name="name" formControlName="name"><br>
    <label >Name</label><br>
    <input name="lastname" formControlName="lastname"><br>
    <label >Select Option</label> <br>
    <select id="country" formControlName="country">
      <option *ngFor="let coun of country" [ngValue]="coun.countryID"  > 
        {{coun.city}}  
      </option>
    </select><br><br>
      <button type="submit">Save</button>
   </form>
  </div>
  