/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap";
@import '~@angular/material/theming';


 @include mat-core();

 $app-primary:mat-palette($mat-indigo);
 $app-accent: mat-palette($mat-pink, A200, A100, A400);
 $app-warn:mat-palette($mat-red);

 $my-theme: mat-light-theme((
   color: (
     primary: $app-primary,
     accent: $app-accent,
     warn: $app-warn,  
   )
 ));


 
 @include angular-material-theme($my-theme);




html, body { height: 100%; }

.btn{
  color: black;
  
  font: outline;
  font-size-adjust: inherit;
  background-color: lightseagreen;
  
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;  
}
icon {
  font-size: 30px;
}
form {
font-family: sans-serif;
font-size: 20px;
}
.basic-container {
  padding: 30px;
  }
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

  
  