/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }



//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//div {
  //   margin: auto;
  //  width: 50%;
  //  border: 3px solid green;
  //  padding: 10px;
  //  height: 200px;
  //  margin: 0 auto;

//  width:40%;
//  height:350px;
//  position: fixed;
//  top: 50%;
//  left: 35%;
 //bottom: 100%;
 //padding: 50px;
// margin-top: -100px;
 //margin-left: -100px;  
 // }

 .center 
 {
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     border: 3px solid black;
     //margin-top: -100px;
     //margin-left: -100px;
     height: 50%;
     margin-top: 8%;
     margin-left:25%;
     margin-right: 25%;
     margin-bottom: 10%;
     padding: 50px;
 }
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;  
}
.basic-container {
  padding: 30px;
  }
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

  
  